.image_modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(#000,0.75);
    z-index: 30;

    .modal_content {
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 1rem;
        background: $white;
        @include vendor-prefix(transform, translate(-50%, -50%));
        @include vendor-prefix(border-radius, 0.25rem);
        @include vendor-prefix(box-shadow, 0.25rem 0.25rem 0.5rem $black);

        img {
            display: block;
            max-height: 95%;
            max-width: 95%;
            margin: 0 auto;
        }

        a[data-rm-close] {
            display: block;
            color: $med-gray;
            cursor: pointer;
            margin: 0.5rem 0 0 0;

            &:hover {
                color: $dark-gray;
            }
        }
    }
}
